* {
    padding: 0;
    margin: 0;
}

body {
    font-family: sans-serif; 
}

.content {
    text-align: center;
    max-width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 0.8;
    position: absolute;
    top: 35vh;
    left: 50%;
    transform: translate(-50%, -50%);
}

.image {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-image: url("public/images/web_bg.png");
}

.league-spartan-content {
  font-family: "League Spartan", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
}

.header {
    font-size: 20vh;
    color: #dd1f26;
}

.sub-header {
    color: #1A4798;
    font-size: 5vh;
    border-bottom: 10px solid #F4C027;
    margin-top: 10px;
}

.button {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1A4798;
    color: white;
    width: 80%;
    border-radius: 5rem;
    padding: 10px 0px 10px 0px;
    margin-top: 50px;
}

.button:hover {
    cursor: pointer;
    background-color: #325699;
}

.button h3 {
    font-size: 3vh;
}

@media screen and (max-width: 800px) {
    .content {
        max-width: 100%;
        width: 100vw;
        top: 45vh;
    }

    .button {
        height: 3rem;
        width: 80%;
        top: 58vh;
    }

    .header {
        font-size: 100px;
    }

    .sub-header {
        font-size: 30px;
    }
}

@media screen and (max-height: 360px) {
    .button {
        top: 70vh;
    }
}